node-red/node-red-flows.json
[
    {
        "id": "3d04af5078b8c457",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d9fa5bcf45b04f7",
        "type": "inject",
        "z": "3d04af5078b8c457",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "22f7b05431772a25"
            ]
        ]
    },
    {
        "id": "300df8b8633e48c1",
        "type": "mqtt in",
        "z": "3d04af5078b8c457",
        "name": "",
        "topic": "/SensorBOX",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4fb4cdea50ec726",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "6d00081b7c503371",
                "8dee450dc2c3e2c3"
            ]
        ]
    },
    {
        "id": "43bf30c16fcbbcca",
        "type": "telegram sender",
        "z": "3d04af5078b8c457",
        "name": "",
        "bot": "d8fac1d559e2a0f4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 830,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "22f7b05431772a25",
        "type": "function",
        "z": "3d04af5078b8c457",
        "name": "測試用通知",
        "func": "msg.payload = {\n    chatId: [346518047, 5328967461, 5683129468],\n    type: \"message\",\n    content: \"<strong>[通知]</strong>\\n測試用通知\\n\" + new Date().toLocaleString('zu-ZA'),\n    options: { disable_web_page_preview: true, parse_mode: \"HTML\" }\n};\nreturn msg;\n// 0346518047 浚緯\n// 5328967461 音符\n// 5683129468 青成",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 40,
        "wires": [
            [
                "43bf30c16fcbbcca"
            ]
        ]
    },
    {
        "id": "197695dd2352c515",
        "type": "server-state-changed",
        "z": "3d04af5078b8c457",
        "name": "",
        "server": "77f1202.fcf33e",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.worker_a_emergency",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "1",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "31d40cfbd8d67c7b",
                "f8810fc4c82cf483"
            ],
            []
        ]
    },
    {
        "id": "31d40cfbd8d67c7b",
        "type": "function",
        "z": "3d04af5078b8c457",
        "name": "worker-a緊急通知",
        "func": "var alert = \"未確定\";\nif(msg.topic == \"sensor.worker_a_emergency\")\n{\n    alert = \"手動觸發警報\";\n}\nelse if (msg.topic == \"binary_sensor.worker_a_warning_gas\")\n{\n    alert = \"所處環境GAS超標\";\n}\nelse if (msg.topic == \"binary_sensor.worker_a_warning_gas\")\n{\n    alert = \"所處環境CO超標\";\n}\nmsg.payload = {\n    chatId: [346518047, 5328967461, 5683129468],\n    type: \"message\",\n    content: \"<strong>[人員異常]\\nworker-a</strong> 發出緊急警報\\n警報來源:\" + alert + \"\\n\" + new Date().toLocaleString('zu-ZA'),\n    options: { disable_web_page_preview: true, parse_mode: \"HTML\" }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 80,
        "wires": [
            [
                "43bf30c16fcbbcca"
            ]
        ]
    },
    {
        "id": "f53a51d5c01730be",
        "type": "server-state-changed",
        "z": "3d04af5078b8c457",
        "name": "",
        "server": "77f1202.fcf33e",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.worker_a_warning_co",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "1",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "31d40cfbd8d67c7b",
                "f8810fc4c82cf483"
            ],
            []
        ]
    },
    {
        "id": "69a5b5b9139a9f3e",
        "type": "server-state-changed",
        "z": "3d04af5078b8c457",
        "name": "",
        "server": "77f1202.fcf33e",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.worker_a_warning_gas",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "31d40cfbd8d67c7b",
                "f8810fc4c82cf483"
            ],
            []
        ]
    },
    {
        "id": "468bb352e6420122",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "SersorBOX_PM1.0",
        "entityConfig": "73522660f6cdb0d1",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b3bed97ad5c46d",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "SersorBOX_PM2.5",
        "entityConfig": "7f9d6abce5c7dc3e",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5671017bc05b64d3",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "SersorBOX_PM10",
        "entityConfig": "dc57b005200b0b8e",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6d00081b7c503371",
        "type": "function",
        "z": "3d04af5078b8c457",
        "name": "空氣品質資訊",
        "func": "var msg1 = { \"payload\": msg.payload[\"PM1.0\"] };\nvar msg2 = { \"payload\": msg.payload[\"PM2.5\"] };\nvar msg3 = { \"payload\": msg.payload[\"PM10\"] };\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "468bb352e6420122"
            ],
            [
                "d5b3bed97ad5c46d"
            ],
            [
                "5671017bc05b64d3"
            ]
        ]
    },
    {
        "id": "6098ed5e121647fb",
        "type": "mqtt in",
        "z": "3d04af5078b8c457",
        "name": "",
        "topic": "/AquaBOX",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4fb4cdea50ec726",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "ca9b218d404c2a46",
                "8dee450dc2c3e2c3"
            ]
        ]
    },
    {
        "id": "ca9b218d404c2a46",
        "type": "function",
        "z": "3d04af5078b8c457",
        "name": "水質資訊",
        "func": "var msg1 = { \"payload\": msg.payload[\"orp\"] };\nvar msg2 = { \"payload\": msg.payload[\"ss\"] };\nvar msg3 = { \"payload\": msg.payload[\"oxy\"] };\nvar msg4 = { \"payload\": msg.payload[\"ph\"] };\nvar msg5 = { \"payload\": msg.payload[\"tds\"] };\nvar msg6 = { \"payload\": msg.payload[\"nh3\"] };\nvar msg7 = { \"payload\": msg.payload[\"hard\"] };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "f0fae7a9bde97684"
            ],
            [
                "af7edfd961722b9f"
            ],
            [
                "422069961852e03c"
            ],
            [
                "4f78b9f67e2043e2"
            ],
            [
                "fede7cc09eac404d"
            ],
            [
                "410432b257a495c8"
            ],
            [
                "ffe446c29bd8d9f5"
            ]
        ]
    },
    {
        "id": "f0fae7a9bde97684",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_ORP",
        "entityConfig": "7b9a70bc3f6ad0ec",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "af7edfd961722b9f",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_SS",
        "entityConfig": "4326fecff59927ae",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "422069961852e03c",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_OXY",
        "entityConfig": "14d2703143aa90a6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4f78b9f67e2043e2",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_pH",
        "entityConfig": "d720d0070aaba00c",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fede7cc09eac404d",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_TDS",
        "entityConfig": "24a4b30cb5e291d5",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "410432b257a495c8",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_NH3",
        "entityConfig": "523e055e0d90b9cf",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ffe446c29bd8d9f5",
        "type": "ha-sensor",
        "z": "3d04af5078b8c457",
        "name": "AquaBOX_HARD",
        "entityConfig": "244a40675a29e76d",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 610,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8dee450dc2c3e2c3",
        "type": "debug",
        "z": "3d04af5078b8c457",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 420,
        "wires": []
    },
    {
        "id": "f8810fc4c82cf483",
        "type": "line-notify",
        "z": "3d04af5078b8c457",
        "name": "",
        "message": "Worker-A 發出緊急通知",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "8980f65fede475e2",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b3bcb91df4957cd3",
        "type": "inject",
        "z": "3d04af5078b8c457",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "f8810fc4c82cf483"
            ]
        ]
    },
    {
        "id": "b4fb4cdea50ec726",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d8fac1d559e2a0f4",
        "type": "telegram bot",
        "botname": "IoT_DEMO_NCHU2022",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "77f1202.fcf33e",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "73522660f6cdb0d1",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "SersorBOX_PM1.0",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PM1.0"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "pm1"
            },
            {
                "property": "unit_of_measurement",
                "value": "µg/m³"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "7f9d6abce5c7dc3e",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "f46174c5ae8c4efc",
        "name": "SersorBOX_PM2.5",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PM2.5"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "pm25"
            },
            {
                "property": "unit_of_measurement",
                "value": "µg/m³"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "dc57b005200b0b8e",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "f46174c5ae8c4efc",
        "name": "SersorBOX_PM10",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PM10"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "pm10"
            },
            {
                "property": "unit_of_measurement",
                "value": "µg/m³"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "7b9a70bc3f6ad0ec",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "ad30c40e902c99f6",
        "name": "AquaBOX_ORP",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "ORP"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "mV"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4326fecff59927ae",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "ad30c40e902c99f6",
        "name": "AquaBOX_SS",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SS"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "14d2703143aa90a6",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "AquaBOX_OXY",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "OXY"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d720d0070aaba00c",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "AquaBOX_pH",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "pH"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "24a4b30cb5e291d5",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "AquaBOX_TDS",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "TDS"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "523e055e0d90b9cf",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "AquaBOX_NH3",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "NH3"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "244a40675a29e76d",
        "type": "ha-entity-config",
        "server": "77f1202.fcf33e",
        "deviceConfig": "",
        "name": "AquaBOX_HARD",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Hardness"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "8980f65fede475e2",
        "type": "linetoken",
        "name": ""
    },
    {
        "id": "f46174c5ae8c4efc",
        "type": "ha-device-config",
        "name": "SersorBOX",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "ad30c40e902c99f6",
        "type": "ha-device-config",
        "name": "AquaBOX",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]